---
export const prerender = false;

import { Icon } from "astro-icon/components";
import Button from "../../components/Button.astro";
import InfoBox from "../../components/InfoBox.astro";
import SocialButton from "../../components/SocialButton.astro";
import Layout from "../../layouts/Layout.astro";

const errors = {
	name: "",
	email: "",
	subject: "",
	message: "",
	general: "",
};

let success = false;

if (Astro.request.method === "POST") {
	try {
		const headers = Astro.request.headers;
		const origin = headers.get("origin");
		const allowedDomain = "https://sparshkaushik.com";

		if (!(origin && origin.startsWith(allowedDomain))) {
			errors.general = "Invalid request origin.";
			return;
		}
		const data = await Astro.request.formData();
		const name = data.get("name");
		const email = data.get("email");
		const subject = data.get("subject");
		const message = data.get("message");
		if (typeof name !== "string" || name.length < 3) {
			errors.name = "Name must be at least 3 characters long";
		}
		if (
			typeof email !== "string" ||
			!email.match(
				/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/,
			)
		) {
			errors.email = "Email must be valid";
		}
		if (typeof subject !== "string" || subject.length < 3) {
			errors.subject = "Subject must be at least 3 characters long";
		}
		if (typeof message !== "string" || message.length < 10) {
			errors.message = "Message must be at least 10 characters long";
		}
		if (!Object.values(errors).some((error) => error.length > 0)) {
			await fetch(
				`https://api.telegram.org/bot${import.meta.env.TOKEN}/sendMessage?` +
					new URLSearchParams({
						chat_id: "-649113731",
						text: `New Contact Form Submission on \n\n
Hallo , \n
Name: ${name} \n
Email: ${email} \n
Subject: ${subject} \n
Message: ${message} \n\n
Client Address: ${Astro.clientAddress} \n
Other Info: ${JSON.stringify(Astro.request)} \n`,
					}).toString(),
			)
				.then(() => {
					success = true;
				})
				.catch((error) => {
					errors.general = String(error);
				});
		}
	} catch (error) {
		if (error instanceof Error) {
			errors.general = "Something went wrong. Please try again later.";
			console.error(error);
		}
	}
}
---

<Layout title="Contact">
  <script
    slot="head"
    src="https://challenges.cloudflare.com/turnstile/v0/api.js"></script>
  <main class="w-full grid grid-cols-1 px-4 gap-8 md:grid-cols-[2fr_3fr] md:px-0">
    <div class="flex flex-col gap-4">
      <div class="text-2xl font-semibold text-text tracking-[0.1rem]">My Socials</div>
      <div class="flex items-center gap-4">
        <SocialButton href="mailto:contact@sparshkaushik.com">
          <Icon name="mdi:email" class="w-8 h-8" />
        </SocialButton>
        <div class="flex flex-col">
          <span class="text-[1.15rem] font-medium">Mail</span>
          <span class="text-[1.15rem] font-medium text-text!">contact@sparshkaushik.com</span>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <SocialButton href="https://linkedin.com/in/sparshkaushik">
          <Icon name="mdi:linkedin" class="w-8 h-8" />
        </SocialButton>
        <div class="flex flex-col">
          <span class="text-[1.15rem] font-medium">LinkedIn</span>
          <span class="text-[1.15rem] font-medium text-text!">Sparsh Kaushik</span>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <SocialButton href="https://github.com/SparshKaushik">
          <Icon name="mdi:github" class="w-8 h-8" />
        </SocialButton>
        <div class="flex flex-col">
          <span class="text-[1.15rem] font-medium">Github</span>
          <span class="text-[1.15rem] font-medium text-text!">@SparshKaushik</span>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <SocialButton href="https://t.me/sparshkaushik">
          <Icon name="ic:outline-telegram" class="w-8 h-8" />
        </SocialButton>
        <div class="flex flex-col">
          <span class="text-[1.15rem] font-medium">Telegram</span>
          <span class="text-[1.15rem] font-medium text-text!">@SparshKaushik</span>
        </div>
      </div>
      <div class="flex items-center gap-4">
        <SocialButton href="https://twitter.com/donothavethis">
          <Icon name="mdi:twitter" class="w-8 h-8" />
        </SocialButton>
        <div class="flex flex-col">
          <span class="text-[1.15rem] font-medium">Twitter</span>
          <span class="text-[1.15rem] font-medium text-text!">@donothavethis</span>
        </div>
      </div>
    </div>
    <InfoBox as="form" class="relative flex flex-col p-8 px-10" method="post">
      <div class="absolute top-0 right-9.75 h-[3.2rem] border-r-2 border-accent"></div>
      <div class="absolute top-0 right-6 h-[2.8rem] border-r border-accent"></div>
      <div class="absolute top-12 right-4">
        <Icon name="ph:star-four" class="w-12 h-12 text-accent" />
      </div>
      <div class="absolute top-11 right-4">
        <Icon name="ph:star-four" class="w-4.5 h-4.5 text-accent" />
      </div>
      <!-- <div class="bg">
        <img src="bg2.svg" />
      </div> -->
      <div class="self-start text-[1.7rem] font-semibold text-text tracking-[0.1rem] mb-4">Contact Me</div>
      {
        success && (
          <div class="self-start font-medium">
            Your message has been sent successfully! I will get back to you
            soon.
          </div>
        )
      }
      <div class="self-start text-error font-medium mb-4">{errors.general.length > 0 && errors.general}</div>
      <div class="w-full flex items-stretch">
        <input type="text" name="name" placeholder="Name" />
      </div>
      <div class="self-start text-error font-medium mb-4">{errors.name.length > 0 && errors.name}</div>
      <div class="w-full flex items-stretch">
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="self-start text-error font-medium mb-4">{errors.email.length > 0 && errors.email}</div>
      <div class="w-full flex items-stretch">
        <input type="text" name="subject" placeholder="Subject" />
      </div>
      <div class="self-start text-error font-medium mb-4">{errors.subject.length > 0 && errors.subject}</div>
      <div class="w-full flex items-stretch h-full">
        <textarea name="message" placeholder="Message"></textarea>
      </div>
      <div class="self-start text-error font-medium mb-0 mt-8">
        {errors.message.length > 0 && errors.message}
      </div>
      <Button type="submit" class="mt-4 w-full border-none rounded-[10px] py-4 px-7.5">Send</Button>
    </InfoBox>
  </main>
</Layout>
