---
// @ts-ignore
import { Icon } from "astro-icon/components";
import Right from "../../components/icons/Right.astro";
import Layout from "../../layouts/Layout.astro";
import ERPCoverImage from "../../assets/erp/cover.png";
import AdmissionCoverImage from "../../assets/admission/cover.png";
import ShrtyCoverImage from "../../assets/shrty/cover.png";
import KuchKareCoverImage from "../../assets/mytodo/cover.png";
import ExpenseCoverImage from "../../assets/expense/cover.png";
import TravelCoverImage from "../../assets/travel/cover.png";
import NightJarCoverImage from "../../assets/nightjar/cover.png";
import SortinNewsaCoverImage from "../../assets/sortin/newsa.png";
import NewsaCoverImage from "../../assets/newsa/cover.webp";

import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import Link from "@/components/icons/Link.astro";

const stacks = {
  expo: {
    name: "vscode-icons:file-type-light-expo",
    title: "Expo",
    link: "https://expo.dev/",
  },
  nextjs: {
    name: "logos:nextjs-icon",
    title: "Next.js",
    link: "https://nextjs.org/",
  },
  react: {
    name: "logos:react",
    title: "React",
    link: "https://reactjs.org/",
  },
  typescript: {
    name: "logos:typescript-icon",
    title: "TypeScript",
    link: "https://www.typescriptlang.org/",
  },
  tailwindcss: {
    name: "logos:tailwindcss-icon",
    title: "TailwindCSS",
    link: "https://tailwindcss.com/",
  },
  prisma: {
    name: "simple-icons:prisma",
    title: "Prisma",
    link: "https://www.prisma.io/",
  },
  postgresql: {
    name: "logos:postgresql",
    title: "PostgreSQL",
    link: "https://www.postgresql.org/",
  },
  svelte: {
    name: "logos:svelte-icon",
    title: "Svelte",
    link: "https://svelte.dev/",
  },
  golang: {
    name: "logos:go",
    title: "Go",
    link: "https://go.dev/",
  },
  javascript: {
    name: "logos:javascript",
    title: "JavaScript",
    link: "https://developer.mozilla.org/en-US/docs/Web/JavaScript",
  },
  sass: {
    name: "logos:sass",
    title: "Sass",
    link: "https://sass-lang.com/",
  },
  firebase: {
    name: "logos:firebase",
    title: "Firebase",
    link: "https://firebase.google.com/",
  },
  axios: {
    name: "axios",
    title: "Axios",
    link: "https://axios-http.com/",
  },
  "react-query": {
    name: "react-query",
    title: "Tanstack React Query",
    link: "https://tanstack.com/query/v4",
  },
  legendstate: {
    name: "legendstate",
    title: "Legend State",
    link: "https://legendstate.com/",
  },
  supabase: {
    name: "supabase",
    title: "Supabase",
    link: "https://supabase.com/",
  },
};

const projects: {
  image: ImageMetadata;
  stackIcons: {
    name: string;
    title: string;
    link?: string;
  }[];
  lead: string;
  title: string;
  link?: string;
  appLink?: string;
}[] = [
  {
    image: NewsaCoverImage,
    stackIcons: [
      stacks.nextjs,
      stacks.react,
      stacks.typescript,
      stacks.tailwindcss,
    ],
    lead: "Full Time",
    title: "NewSa.in",
    appLink: "https://newsa.in/",
  },
  {
    image: SortinNewsaCoverImage,
    stackIcons: [
      stacks.nextjs,
      stacks.react,
      stacks.typescript,
      stacks.tailwindcss,
      stacks.supabase,
      stacks.axios,
      stacks["react-query"],
    ],
    lead: "Internship",
    title: "Newsa - Sortin",
    appLink: "https://newsa.sortin.in/",
    // link: "/work/details/travel",
  },
  // {
  //   image: TravelCoverImage,
  //   stackIcons: [
  //     stacks.nextjs,
  //     stacks.react,
  //     stacks.typescript,
  //     stacks.tailwindcss,
  //     stacks.prisma,
  //     stacks.postgresql,
  //   ],
  //   lead: "Freelance",
  //   title: "Travel Planner",
  //   appLink: "https://www.traveltoindia.co.in/",
  //   // link: "/work/details/travel",
  // },
  {
    image: NightJarCoverImage,
    stackIcons: [
      stacks.expo,
      stacks.react,
      stacks.nextjs,
      stacks.typescript,
      stacks.tailwindcss,
      stacks.axios,
      stacks["react-query"],
      stacks.legendstate,
    ],
    lead: "Internship",
    title: "Trailguard AI - Nightjar",
    appLink: "https://nightjar.in/",
  },
  {
    image: ExpenseCoverImage,
    stackIcons: [
      stacks.react,
      stacks.typescript,
      stacks.golang,
      stacks.prisma,
      stacks.postgresql,
    ],
    lead: "Personal Project",
    title: "Expense Tracker",
    // link: "/work/details/expense",
  },
  {
    image: ERPCoverImage,
    stackIcons: [stacks.react, stacks.typescript, stacks.sass, stacks.firebase],
    lead: "VIPS College ERP",
    title: "Manthan",
    link: "/work/details/erp",
  },
  {
    image: AdmissionCoverImage,
    stackIcons: [
      stacks.svelte,
      stacks.javascript,
      stacks.tailwindcss,
      stacks.firebase,
    ],
    lead: "Freelance",
    title: "School Admission Portal",
    // link: "/work/details/admission",
  },
  {
    image: KuchKareCoverImage,
    stackIcons: [
      stacks.svelte,
      stacks.sass,
      stacks.typescript,
      stacks.supabase,
    ],
    lead: "Personal Project",
    title: "Kuch Kare - Todo App",
    // link: "/work/details/mytodo",
    appLink: "https://todo.sparshkaushik.com/",
  },
  // {
  //   image: ShrtyCoverImage,
  //   stackIcons: [
  //     "logos:html-5",
  //     "logos:css-3",
  //     "logos:javascript",
  //     "flask-light",
  //   ],
  //   lead: "Personal Project",
  //   title: "Shrty - URL Shortener",
  //   // https://web.archive.org/web/20220909161705/https://shrty.ga/
  //   link: "/work/details/shrty",
  // },
];
---

<Layout title="Sparsh Kaushik">
  <main>
    <div class="header"></div>
    <div class="projects">
      {
        projects.map((project) => (
          <div class="project info-box">
            <div class="img">
              <Image src={project.image} alt={project.title} />
              <div class="stack">
                {project.stackIcons.map((icon) =>
                  icon.link ? (
                    <a
                      href={icon.link}
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <Icon
                        name={icon.name}
                        style={
                          icon.name === "logos:nextjs-icon"
                            ? "background: white; border-radius: 100%;"
                            : ""
                        }
                        title={icon.name.split(":")[1]}
                      />
                    </a>
                  ) : (
                    <Icon
                      name={icon.name}
                      style={
                        icon.name === "logos:nextjs-icon"
                          ? "background: white; border-radius: 100%;"
                          : ""
                      }
                      title={icon.name.split(":")[1]}
                    />
                  )
                )}
              </div>
            </div>
            <div class="bottom">
              <div>
                <div class="lead">{project.lead}</div>
                <div class="title">{project.title}</div>
              </div>
              {project.appLink && (
                <a href={project.appLink} class="arrow free">
                  <Link class="svg small" />
                </a>
              )}
              {project.link && (
                <a href={project.link} class="arrow free">
                  <Right class="svg" />
                </a>
              )}
            </div>
          </div>
        ))
      }
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1.5rem;

    .projects {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      gap: 1.5rem;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      @media screen and (min-width: 768px) and (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
      }

      .project {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        gap: 1rem;

        padding: 1.5rem;

        .img {
          position: relative;

          img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;

            object-fit: cover;
            object-position: left;
          }

          .stack {
            position: absolute;
            bottom: -1rem;
            right: 0.5rem;

            display: flex;
            align-items: center;
            gap: 0.75rem;

            padding: 0.5rem;
            background: rgba(15, 15, 15, 0.8);
            border-radius: 0.5rem;

            > a {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              svg {
                width: 1.25rem;
                height: 1.25rem;
              }
            }
          }
        }

        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 1rem;

          a {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }
        }

        .lead {
          font-size: 1.1rem;
          font-weight: 500;
        }

        .title {
          font-size: 1.15rem;
          font-weight: 500;
          color: var(--text-color);
        }
      }
    }
  }
</style>
